/* FILE SYSTEM BROWSER */

#filesystembrowser
{
    background: #FFFFFF;
    border: #CCCCCC 2px inset;
    float: left;
    width: 15%;
    height: 640px;
    overflow: scroll;
}

ul.estherFileSystem
{
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

ul.estherFileSystem li
{
    list-style: none;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    white-space: nowrap;
}

ul.estherFileSystem li.unexpandable
{
    cursor: default;
}

li.ui-draggable-dragging
{
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}

li.ui-draggable-dragging ul
{
    display: none;
}

li.ui-draggable-dragging a
{
    color: #000033;
    text-decoration: none;
}

ul.estherFileSystem a
{
    color: #000033;
    text-decoration: none;
    display: block;
    padding: 0px 2px;
}

ul.estherFileSystem a:hover
{
    background: #EEEEEE;
}

ul.estherFileSystem li.private a.public
{
    font-style: italic;
}

ul.estherFileSystem a.locked
{
    color: #999999;
}

ul.estherFileSystem li.selected > a
{
    font-weight: bold;
    background: #C0E0FF;
}

ul.estherFileSystem li.selected > a:hover
{
    background: #DDDDDD;
}

ul.estherFileSystem li a.drag_n_drop_hover 
{
    background: #DDFFFF;
}

ul.estherFileSystem div.icon_container
{
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px;
    margin-left: -20px;
    padding: 0px;
    cursor: pointer;
}

ul.estherFileSystem #icon
{
    width: 8px;
    height: 8px;
    margin: 0px;
    padding: 0px;
    background: url(../images/expand_button.png) left top no-repeat;
    background-size: cover;
}

ul.estherFileSystem li.expanded > div.icon_container > #icon
{
    background: url(../images/shrink_button.png) left top no-repeat;
    background-size: cover;
}

/* FILE MENU */

div.fileMenu
{
    position: absolute;
    z-index: 1024;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    background: #EEEEEE;
    border: 1px solid black;
    padding: 2px;
}

div.fileMenu a
{
    color: #000000;
    margin: 4px;
}

form#uploadOptions table tr
{
    margin: 0px;
    padding: 0px;
}

form#uploadOptions table tr td
{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/* FILE ICONS */
ul.estherFileSystem li.file
{
    background: url(../images/FileIcons/file.png) left top no-repeat;
}
ul.estherFileSystem li.folder
{
    background: url(../images/FileIcons/folder.png) left top no-repeat;
}
ul.estherFileSystem li.open_folder
{
    background: url(../images/FileIcons/folder_open.png) left top no-repeat;
}