root
{ 
    display: block;
}

/* GENERAL */

html
{
    min-height: 100%;
    font-family: "Estrangelo Edessa", sans-serif;
}

body
{
    width: 70%;
    background: #000000;
    margin: auto;
    color: white;
}

a:link
{
    color: #999999;
    text-decoration: none;
}


a:hover
{
    color: #999999;
    text-decoration: underline;
}

a:visited
{
    color: #999999;
    text-decoration: none;
}

a:active
{
    color: #990000;
    text-decoration: none;
}


p
{
    color: white;
    font-size: 1.1em;
    margin-bottom: 32px;
}

header,
footer,
nav,
section
{
    display: block;
}

div#header {
    padding: 1em;
}

/* HEADERS AND FOOTERS */
h1,h2,h3 {
    text-transform:uppercase;
    font-weight: bold;
    margin: 0;
}

h1.section {
   font-size: 1.8em;
   background-color: #950000; /* Kinda red-ish. */
   color: white;
   margin-bottom: 1.0em;
   
   padding: 0.3em 0.3em 0.12em 0.6em; /* Font is in capitals, no need for bottom line. */
}

h2.subsection
{
    font-size: 1.5em;
    color: #999999;
}

h3.subsubsection
{
    font-size: 1.2em;
    color: #999999;
}

footer {
    float:right;
}

footer img
{
    margin: 8px;
}

#header 
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    margin-top: 4px;
}

#header p
{
    color: #CCCCFF;
    font-size: 1em;
    margin: 4px 64px 32px 4px;
}

/* LAYOUT */

#page
{
    background: #333333;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

/* TABS */

ul#menu
{
    margin: 0em;
    padding: 0em;
    text-align: left;
    line-height: 2.4em;
}

ul#menu li
{
    display: inline;
}

ul#menu li a
{
    font-size: 1.6em;
    font-weight: bolder;
    color: grey;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    padding: 0px 16px 4px 16px;
}

ul#menu li a:hover
{
    color: grey;
}

ul#menu li a:active
{
    color: grey;
}

/* ERROR MESSAGES */

#error
{
    color: #FF0033;
    font-size: 1em;
    margin: 8px 16px 8px 16px;
}

/* TABLES */

table tr th
{
    color: #CCCCFF;
    font-size: 1em;
    margin: 4px;
    text-align: left;
}

table.profile_chapter
{
    border-collapse: collapse;
    width: 864px;
    margin: 8px;
    margin-left: 32px;
    margin-right: 32px;
}

table.profile_chapter tr th,td
{
    font-size: 1em;
    text-align: left;
    margin: 0px;
    padding: 8px;
}

table.profile_chapter tr th
{
    background: #000000;
    border: 1px solid #003366;
}

table.profile_chapter tr th a
{
    float: right;
}

table.profile_chapter tr td
{
    background: #666666;
    color: #240044;
}

/* INPUT CONTROLS */

input
{
    color: #006699;
    font-size: 1em;
    text-align: left;
}

input.button
{
    color: #000033;
    text-align: center;
}

/* PAGE NAVIGATION */

ul.page_navigation
{
    float: right;
    width: auto;
    border: black solid 2px;
    padding: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

ul.page_navigation li
{
    margin-right: 32px;
    margin-left: 16px;
    margin-bottom: 4px;
    list-style: none;
}

ul.page_navigation li a
{
    color: grey;
}
