root
{ 
    display: block;
}

/* GENERAL */

html
{
    min-height: 100%;
    font-family: "Estrangelo Edessa", sans-serif;
}

body
{
    width: 70%;
    background: #000000;
    margin: auto;
    color: white;
}

a:link, a:visited
{
    color: #999999;
    text-decoration: none;
}

a:hover
{
    color: #999999;
    text-decoration: underline;
}

a:active
{
    color: #990000;
    text-decoration: none;
}


p
{
    color: white;
    font-size: 1.1em;
}

div#header {
    padding: 1em;
}

/* HEADERS AND FOOTERS */
h1,h2,h3 {
    text-transform:uppercase;
    font-weight: bold;
    margin: 0;
}

h1.section {
   font-size: 1.8em;
   background-color: #950000; /* Kinda red-ish. */
   color: white;
   margin-bottom: 1.0em;
   
   padding: 0.3em 0.3em 0.12em 0.6em; /* Font is in capitals, no need for bottom line. */
}

h1.toc {
  font-size: 1.2em;  
  color: white;
  margin-bottom: 1.0em;
}

h2.subsection
{
    font-size: 1.5em;
    color: #999999;
}

h3.subsubsection
{
    font-size: 1.2em;
    color: #999999;
}

footer {
    float:right;
}

footer img
{
    margin-top: 0.5em;
}

#header 
{
    margin: auto;
}

/* LAYOUT */

#page
{
    background: #333333;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

/* TABS */

ul#menu
{
    margin: 0em;
    padding: 0em;
    text-align: left;
    line-height: 2.4em;
}

ul#menu li
{
    color: grey;
    display: inline;
}

ul#menu li a
{
    font-size: 1.6em;
    font-weight: bold;
    color: grey;
    margin-left: 16px;
}

/* ERROR MESSAGES */

#error
{
    color: #FF0033;
    font-size: 1em;
    margin: 8px 16px 8px 16px;
}



/* INPUT CONTROLS */

input
{
    color: #006699;
    font-size: 1em;
    text-align: left;
}

input.button
{
    color: #000033;
    text-align: center;
}

/* PAGE NAVIGATION */

ul.page_navigation
{
    color:grey;
    float: right;
    width: auto;
    border: black solid 2px;
    padding: 1.5em;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

ul.page_navigation li
{
    list-style: none;
}

/* TABLES */

table.profile_chapter
{
    width: 100%;
    margin: auto;
    border: black solid 1px;
        margin-bottom: 1em;
}

table tr th
{
    color: grey;
    font-size: 1.3em;
    margin: 4px;
    text-align: left;
    text-transform:uppercase;
    border: black solid 1px;

}

table.profile_chapter td
{
    font-size: 1em;
    text-align: left;
    padding-left: 2em;
    padding-right: 0.5em;
    border: black solid 1px;
}

table.profile_chapter th
{
    padding: 0.5em;
}

table.profile_chapter a
{
    text-transform:lowercase;
    float: right;
}