/Sources/Esther/src/main/resources/Properties/Esther.properties
/Sources/Esther/src/main/resources/properties/Database.properties
*~
*.swp
*.swo
/Sources/*/target/*
/Sources/Esther/nb-configuration.xml
