#filesystembrowser {
    background: #FFFFFF;
    border: #CCCCCC 2px inset;
    float: left;
    width: 192px;
    height: 640px;
    overflow: scroll;
}

UL.ctnaiFileSystem {
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    margin: 0px;
    padding: 0px;
}

UL.ctnaiFileSystem LI {
    list-style: none;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    white-space: nowrap;
}

UL.ctnaiFileSystem A {
    color: #000033;
    text-decoration: none;
    display: block;
    padding: 0px 2px;
}

UL.ctnaiFileSystem A:hover {
    background: #CCFFFF;
}

DIV.fileMenu {
    position: absolute;
    z-index: 1024;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    background: #EEEEEE;
    border: 1px solid #009999;
    padding: 2px;
}

DIV.fileMenu A {
    margin: 4px;
}

FORM#uploadOptions TABLE TR {
    margin: 0px;
    padding: 0px;
}

FORM#uploadOptions TABLE TR TD {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/* Core Styles */
UL.ctnaiFileSystem LI.file {
    background: url(../Graphics/FileIcons/file.png) left top no-repeat;
}
UL.ctnaiFileSystem LI.folder {
    background: url(../Graphics/FileIcons/folder.png) left top no-repeat;
}
UL.ctnaiFileSystem LI.open_folder {
    background: url(../Graphics/FileIcons/folder_open.png) left top no-repeat;
}

/* File Extensions*/