ROOT { 
    display: block;
}

/* GENERAL */

HTML {
    min-height: 100%;
}

BODY {
    background: #000000;
}

A:link {
    color: #990033;
    text-decoration: none;
}

A:visited {
    color: #009999;
    text-decoration: none;
}

A:hover {
    color: #33CCCC;
    text-decoration: underline;
}

A:active {
    color: #33CCCC;
    text-decoration: none;
}

P {
    color: #CCCCFF;
    font-family: "MV Boli", "Monotype Corsiva", "Burton Sketch", "Calibri", "Arial";
    font-size: 1.2em;
    margin-bottom: 32px;
    line-height: 1.6em;
}

UL {
    margin: 32px 64px;
    line-height: 2.4em;
}

HEADER,
FOOTER,
NAV,
SECTION {
    display: block;
}

/*HEADERS AND FOOTERS*/

H1 {
    font-size: 2.4em;
    font-family: "Verdana", "Lucida Console", "Calibri", "Arial";
    color: #990033;
    margin-left: 64px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-variant: small-caps;
    text-shadow: 1px 1px #660000;
}

H2 {
    font-size: 3.5em;
    font-family: "Freestyle Script", "Lucide Console", "Monotype Corsiva", "Calibri", "Arial";
    color: #6633CC;
    margin-left: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
}

FOOTER {
    color: #CCCCFF;
    font-size: 1em;
    font-family: "Corbel", "Dotum", "Calibri", "Arial";
    border-top: 1px #CCCCCC solid;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    text-align: right;
}

FOOTER IMG {
    margin: 8px;
}

#header {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    margin-top: 4px;
}

#header P {
    color: #CCCCFF;
    font-size: 1em;
    font-family: "Corbel", "Dotum", "Calibri", "Arial";
    margin: 4px 64px 32px 4px;
}

/* LAYOUT */

#page {
    background: #333333;
    width: 928px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

/* TABS */

UL#menu {
    border-bottom: 1px #CCCCCC solid;
    position: relative;
    width: 984px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
}

UL#menu LI {
    display: inline;
    list-style: none;
}

UL#menu LI A {
    font-size: 1.6em;
    font-family: "Corbel", "Dotum", "Calibri", "Arial";
    font-weight: bold;
    color: #3399CC;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    padding: 0px 16px 4px 16px;
    background: #333333;
}

UL#menu LI A:hover {
    color: #000000;
    background-color: #990000;
}

UL#menu LI A:active {
    color: #000000;
    background-color: #990000;
}

/* ERRORS */

#error {
    color: #FF0033;
    font-size: 1em;
    font-family: "Euphemia", "Corbel", "Calibri", "Arial";
    margin: 8px 16px 8px 16px;
}

/* TABLES */

TABLE TR TH {
    color: #CCCCFF;
    font-size: 1em;
    font-family: "MV Boli", "Monotype Corsiva", "Burton Sketch", "Calibri", "Arial";
    margin: 4px;
    text-align: left;
}

TABLE TR TH {
    margin: 4px;
}

TABLE.profile_chapter {
    border-collapse: collapse;
    width: 864px;
    margin: 8px;
    margin-left: 32px;
    margin-right: 32px;
}

TABLE.profile_chapter TR TH,TD {
    font-size: 1em;
    font-family: "MV Boli", "Monotype Corsiva", "Burton Sketch", "Calibri", "Arial";
    text-align: left;
    margin: 0px;
    padding: 8px;
}

TABLE.profile_chapter TR TH {
    background: #000000;
    border: 1px solid #003366;
}

TABLE.profile_chapter TR TH A {
    float: right;
}

TABLE.profile_chapter TR TD {
    background: #666666;
    color: #240044;
}

/* INPUT CONTROLS */

INPUT {
    color: #006699;
    font-size: 1em;
    font-family: "MV Boli", "Monotype Corsiva", "Burton Sketch", "Calibri", "Arial";
    text-align: left;
}

INPUT.button {
    color: #000033;
    font-family: "Corbel", "Dotum", "Calibri", "Arial";
    text-align: center;
}