/* 
    Document   : frontpage
    Created on : Nov 10, 2012, 6:02:32 PM
    Author     : Jooji
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/* GENERAL */

html {
    min-height: 100%;
}

body {
    background: #000000;
}

a:link {
    color: #990033;
    text-decoration: none;
}

a:visited {
    color: #009999;
    text-decoration: none;
}

a:hover {
    color: #33CCCC;
    text-decoration: underline;
}

a:active {
    color: #33CCCC;
    text-decoration: none;
}

p {
    color: #CCCCFF;
    font-family: "MV Boli", "Monotype Corsiva", "Burton Sketch", "Calibri", "Arial";
    font-size: 1.2em;
    margin-bottom: 32px;
    line-height: 1.6em;
}

ul {
    margin: 32px 64px;
    line-height: 2.4em;
}

header,
footer,
nav,
section {
    display: block;
}

/*HEADERS AND FOOTERS*/

h1 {
    font-size: 2.4em;
    font-family: "Verdana", "Lucida Console", "Calibri", "Arial";
    color: #990033;
    margin-left: 64px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-variant: small-caps;
    text-shadow: 1px 1px #660000;
}

h2 {
    font-size: 3.5em;
    font-family: "Freestyle Script", "Lucide Console", "Monotype Corsiva", "Calibri", "Arial";
    color: #6633CC;
    margin-left: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
}

footer {
    color: #CCCCFF;
    font-size: 1em;
    font-family: "Corbel", "Dotum", "Calibri", "Arial";
    border-top: 1px #CCCCCC solid;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    text-align: right;
}

footer img {
    margin: 8px;
}

#header {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    margin-top: 4px;
}

#header p {
    color: #CCCCFF;
    font-size: 1em;
    font-family: "Corbel", "Dotum", "Calibri", "Arial";
    margin: 4px 64px 32px 4px;
}

/* LAYOUT */

#page {
    background: #333333;
    width: 928px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

/* TABS */

ul#menu {
    border-bottom: 1px #CCCCCC solid;
    position: relative;
    width: 984px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li a {
    font-size: 1.6em;
    font-family: "Corbel", "Dotum", "Calibri", "Arial";
    font-weight: bold;
    color: #3399CC;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    padding: 0px 16px 4px 16px;
    background: #333333;
}

ul#menu li a:hover {
    color: #000000;
    background-color: #990000;
}

ul#menu li a:active {
    color: #000000;
    background-color: #990000;
}

/* ERRORS */

#error {
    color: #FF0033;
    font-size: 1em;
    font-family: "Euphemia", "Corbel", "Calibri", "Arial";
    margin: 8px 16px 8px 16px;
}

/* TABLES */

table tr th {
    color: #CCCCFF;
    font-size: 1em;
    font-family: "MV Boli", "Monotype Corsiva", "Burton Sketch", "Calibri", "Arial";
    margin: 4px;
    text-align: left;
}

table tr td {
    margin: 4px;
}

/* INPUT CONTROLS */

input {
    color: #006699;
    font-size: 1em;
    font-family: "MV Boli", "Monotype Corsiva", "Burton Sketch", "Calibri", "Arial";
    text-align: left;
}

input.button {
    color: #000033;
    font-family: "Corbel", "Dotum", "Calibri", "Arial";
    text-align: center;
}