#widget {
    position: relative;
    background: #EEEEEE;
    border: #CCCCCC 2px inset;
    margin-left: 196px;
    height: 640px;
}

#widget p {
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    margin: 0px;
    padding: 0px;
}

#widget p {
    margin-left: 8px;
    margin-right: 8px;
}

#widget h7 {
    color: #006666;
    line-height: 2em;
    font-size: 1.2em;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    padding: 32px;
    margin: 32px;
}

#widget #frontpage p {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    margin: 8px;
    padding: 8px;
}

#widget input {
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    margin: 16px 8px 8px 16px;
}

#widget div.viewpoint {
    height: 564px;
    width: 712px;
    overflow: scroll;
    margin: 8px 8px 8px 8px;
}

#widget table {
    border-collapse: collapse;
}

#widget table tr th,td {
    border: 1px solid;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    white-space: nowrap;
}

#widget table tr th {
    border-color: #000000;
    background: #009999;
    color: #99FFFF;
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 16px;
}

#widget table tr th.headerSortUp {
    background-image: url(../Graphics/TableSorter/ascending.gif);
}

#widget table tr th.headerSortDown {
    background-image: url(../Graphics/TableSorter/descending.gif);
}

#widget a.expandable {
    font-size: 14px;
    line-height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 16px;
}

#widget table tr td {
    border-color: #009999;
    color: #000000;
    font-size: 10px;
}

#widget textarea {
    height: 542px;
    width: 706px;
    margin: 8px 8px 8px 8px;
    resize: none;
}

#widget #filter_controls {
    position: absolute;
    z-index: 1000;
    width: 640px;
    height: 320px;
    right: 8px;
    bottom: 68px;
    background: #EEEEEE;
    border: 1px solid #999999;
    border-bottom: 0px;
}