#widget {
    background: #EEEEEE;
    border: #CCCCCC 2px inset;
    margin-left: 196px;
    height: 640px;
    overflow: hidden;
}

#widget P {
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    margin: 4px 8px 4px 8px;
}

#widget H7 {
    color: #006666;
    line-height: 2em;
    font-size: 1.2em;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;
    margin-bottom: 32px;
}

#widget #frontpage P {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    margin: 8px;
    padding: 8px;
}

#widget INPUT {
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    margin: 16px 8px 8px 16px;
}

#widget DIV.viewpoint {
    height: 480px;
    width: 712px;
    overflow: scroll;
    margin: 8px 8px 8px 8px;
}

#widget TABLE.list {
    border-collapse: collapse;
}

#widget TABLE TR TH, TD {
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    margin: 0px;
}

#widget TABLE.list TR TH,TD {
    border: 1px solid;
    white-space: nowrap;
}

#widget TABLE TR TH {
    cursor: pointer;
    padding-left: 4px;
}

#widget TABLE.list TR TH {
    border-color: #000000;
    background: #009999;
    color: #99FFFF;
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 16px;
}

#widget TABLE TR TD {
    padding: 0px;
}

#widget TABLE.list TR TD {
    border-color: #009999;
    color: #000000;
    font-size: 10px;
}

#widget TABLE.list TR TH.headerSortUp {
    background-image: url(../Graphics/TableSorter/ascending.gif);
}

#widget TABLE.list TR TH.headerSortDown {
    background-image: url(../Graphics/TableSorter/descending.gif);
}

#widget A.expandable {
    font-size: 14px;
    line-height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 16px;
}

#widget TEXTAREA {
    height: 480px;
    width: 706px;
    margin: 8px 8px 8px 8px;
    resize: none;
}

#widget INPUT {
    margin: 8px;
}

#widget #filter_controls {
    position: absolute;
    z-index: 1000;
    width: 640px;
    height: 320px;
    right: 8px;
    bottom: 28px;
    background: #EEEEEE;
    border: 1px solid #999999;
    border-bottom: 0px;
}

#widget #filter_controls P INPUT {
    margin: 4px;
}

#widget DIV.container {
    background: #FFFFFF;
    border: 1px solid #CCFFFF;
    margin: 8px 32px 16px 32px;
    overflow: scroll;
}

#widget #constraint_container {
    height: 164px;
}

#widget #filter_hide {
    float: right;
    height: 16px;
    width: 16px;
    margin: 8px;
    cursor: pointer;
}

#widget SELECT.drop_down {
    color: #000033;
    font-size: 12px;
    line-height: 18px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
}

#widget SELECT.drop_down OPTION {
    color: #003366;
    font-size: 12px;
    line-height: 18px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
}

#widget IMG.cancel_constraint {
    height: 12px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

#widget DIV.cytoscape {
    height: 380px;
    width: 712px;
    margin: 8px;
}

#widget #graph_information {
    height: 92px;
    width: 712px;
    margin: 0px 8px 8px 8px;
    overflow: scroll;
}

#widget #tabs {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 30px;
    background: #009999;
    font-size: 0px;
    white-space: nowrap;
}

#widget #tabs LI {
    display: inline-block;
    list-style: none;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-right: 2px;
    background: #CCCCCC;
    border: 1px solid #003366;
}

#widget #tabs LI A {
    line-height: 16px;
    font-size: 14px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    color: #000000;
    cursor: pointer;
    margin-right: 4px;
}

#widget #tabs LI A:hover {
    text-decoration: none;
}

#widget #tabs LI.ui-tabs-active {
    background: #EEEEEE;
    border-bottom: 0px;
    padding-bottom: 5px;
}

#widget #tabs li.ui-tabs-active {
    margin-bottom: -1px;
}

#widget #tabs LI.ui-tabs-active A,
#widget #tabs LI.ui-state-disabled A,
#widget #tabs LI.ui-tabs-loading A {
    cursor: text;
}

#widget #parsybone_output {
    position: absolute;
    z-index: 1000;
    width: 706px;
    height: 240px;
    right: 8px;
    bottom: 28px;
    background: #EEEEEE;
    border: 1px solid #999999;
    border-bottom: 0px;
}

DIV.task {
    height: 42px;
    background: #CCEEFF;
    border: #009999 1px solid;
    border-bottom-color: #006666;
    border-right-color: #006666;
    padding: 4px 16px 4px 16px;
    margin: 8px;
    overflow: hidden;
}

DIV.task.expanded {
    height: 240px;
}

DIV.task TABLE {
    border: 0px;
    width: 100%;
    float: right;
}

DIV.task TABLE TR TH {
    color: #000000;
    line-height: 16px;
    border: 0px;
    padding-right: 4px;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
}

DIV.task TABLE TR TD { 
    border: 0px;
    height: 40px;
}

DIV.task TABLE TR TD INPUT {
    padding: 0px;
    margin: 0px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
    font-size: 12px;
}

DIV.task TABLE TR TD IMG {
    cursor: pointer;
    padding: 2px;
    margin: 0px;
}