/* CYTOSCAPE WEB */

#widget DIV.cytoscape
{
    min-height: 350px;
    width: 96%;
    margin: 0% 2%;
    padding: 0;
}

/* GRAPH INFORMATION */

#widget #graph_information
{
    background: #EEEEEE;
    min-height: 150px;
    width: 96%;
    margin: auto;
    overflow: scroll;
    margin: 0% 2%;
    padding: 0;
}