/* TEXTAREA */

#widget textarea
{
    min-height: 480px;
    width: 98%;
    margin: 0% 1%;
    resize: none;
}

/* PARSYBONE CONTROLS */

#widget #parsybone_controls
{
    position: absolute;
    z-index: 100;
    width: 90%;
    height: 224px;
    right: 3px;
    bottom: 24px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-bottom: 0px;
}

#widget #parsybone_hide
{
    float: right;
    height: 16px;
    width: 16px;
    margin: 8px;
    cursor: pointer;
}

#widget #parsybone_filters
{
    height: 64px;
    background: #EEEEEE;
    border: 1px solid #CCFFFF;
    overflow: scroll;
}

#widget IMG.cancel_filter
{
    height: 12px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}