/* FILTER CONTROLES */

#widget #filter_controls
{
    position: absolute;
    z-index: 1000;
    width: 90%;
    height: 320px;
    right: 9px;
    bottom: 24px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-bottom: 0px;
}

#widget #filter_controls P INPUT
{
    margin: 4px;
}

#widget #filter_hide
{
    float: right;
    height: 16px;
    width: 16px;
    margin: 8px;
    cursor: pointer;
}

/* CONSTRAINT CONTAINER */

#widget DIV.container
{
    height: 164px;
    background: #EEEEEE;
    border: 1px solid #CCFFFF;
    overflow: scroll;
}

/* CONSTRAINT CONTROLS */

#widget SELECT.drop_down
{
    color: #000033;
    font-size: 12px;
    line-height: 18px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
}

#widget SELECT.drop_down OPTION
{
    color: #003366;
    font-size: 12px;
    line-height: 18px;
    font-family: "Verdana", "Sans-Serif", "Calibri", "Arial";
}

#widget IMG.cancel_constraint
{
    height: 12px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

/* COLUMN OPTIONS */

#widget #column_options
{
    position: absolute;
    z-index: 1000;
    width: 90%;
    height: 240px;
    right: 9px;
    top: 32px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-top: 0px;
}

#widget #column_options_hide
{
    float: right;
    height: 16px;
    width: 16px;
    margin: 8px;
    cursor: pointer;
}

#widget #column_options LABEL.column_checker
{
    font-size: 12px;
}

#widget #column_options LABEL.column_checker INPUT
{
    margin: 0px;
    padding: 0px;
}